[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
	branch = master
[submodule "dotty"]
	path = dotty
	url = git@github.com:vibhavp/dotty.git
