*/__pycache__
*.pyc
*.geany

# deploy script documentation: must be generated locally
deploy/doc-html

# vim plugins handled by Vundle.vim
vim/bundle/*
!vim/bundle/neobundle.vim

# netrw is a kind of vim plugin/script which supports reading and writing files
# across networks. .netrwhist is a history file which maintains all the
# directories that were modified. So whenever you modify the contents of ~/.vim
# it adds one entry in .netrwhist
vim/.netrwhist
